body {
  margin-top: 80px;
}

h1, h2, h3, h4, h5, h6 {
  color: green;
}

.content-section {
  background: #ffffff;
  border: 1px solid chocolate;
  padding: 10px 20px;
  border-radius: 26px;
  margin-bottom: 20px;
}


.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 2px solid greenyellow;
}

.article-metadata a:hover {
  color: brown;
  text-decoration: none;
  font-size: 20px;
}

.article-title {
  color: black;
}

a.article-title:hover {
  color:red;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}


ul.list-group{
  border: 2px solid blue;
  border-radius: 3px;
}

ul li.list-group-item:hover{
     color: red;
     font-size: 20px;
}

/*!* Navigation menu styles*!*/

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link:hover {
  color: red;
}


.account-img{
  width: 60px;
  height: 60px;
}



